
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
  

.jost-uniquifier {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
  }


.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: rgb(177, 11, 127);
  }

  p, li{

line-height: 1,6;
  }
  figcaption{
    font-size: .6rem;
  }

  /* columnas */
  .columnas {
    columns: 3 400px;
  }
  /*imagen*/
  img{
    width: 100%;
    object-fit: cover;
  }
.clip{
  clip-path: circle(52.3% at 50% 50%);}

  .triangulo{
    clip-path: polygon(50% 0%, 100% 0, 50% 100%, 0 0);
  }
  .aro{
    width: 50%;
    float: left;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    shape-outside: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
  